html,body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
#ccount{
    color: red;
}
.list{
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 200px;
    height: 260px;
}
dl{
    padding: 10px;
    border: 1px solid #ccc;
}
dd:nth-of-type(3){
    color: red;
}
dd:nth-of-type(2){
    color: #ccc;
    font-size: 14px;
}